@for(player of game.players; track player; let index = $index) {
    <app-player class="player-position hide-mobile" [playerActive]="index === game.currentPlayer" [playerName]="player" [ngStyle]="{'top.px': 1 + (index*60)}"></app-player>
}

<div class="scroll-container hide-desktop">
@for(player of game.players; track player; let index = $index) {
    <app-player-mobile [ngStyle]="{'left.px': 1 + (index*56)}" [playerActive]="index === game.currentPlayer" [playerName]="player"></app-player-mobile>
}
</div>

<div class="field" style="background-image: url('assets/wood_bg.jpg');">
    <div class="card-stack">
        @if(this.game.playedCards.length > 0) {
            <img src="assets/cards/{{ this.game.playedCards[this.game.playedCards.length-1]}}.png" class="played-card">
        }
        @for(covercard of [0,1,2,3]; track covercard; let index = $index;) {
            <img [ngStyle]="{'right.px': index*5}" src="assets/cards/card_cover.png">
        }
        <img (click)="takeCard()" style="right: 25px" class="top-card" src="assets/cards/card_cover.png">
        <img (click)="takeCard()" style="right: 25px" *ngIf="game.pickCardAnimation" class="pick-card" src="assets/cards/{{ this.game.currentCard }}.png">

    </div>
</div>

<app-game-info [card]="game.currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" (click)="openDialog()" class="button-add">
    <mat-icon>person_add</mat-icon>
  </button>