.player {
    width: 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom-right-radius: 48px;
    border-bottom-left-radius: 48px;
    background-color: grey;
    position: relative;

    span {
        font-size: 16px;
        margin-left: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 52px;
        text-align: center;
    }

    img {
        height: 48px;
        width: auto;
        object-fit: cover;
        border-radius: 100%;
        margin: 2px;
    }
}

.player-active {
    background-color: orange !important;
}